:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  flex-direction: column;
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(134, 134, 134, 0.8352941176);
}

.container {
  padding: 1rem;
}

.comment {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.comment .card {
  height: -moz-fit-content;
  height: fit-content;
  width: 60%;
  padding: 1rem;
  background: #fff;
  color: #242424;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  position: relative;
  border: 1px solid #9e9d9e;
}
.comment .card .num-display {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.6rem;
  width: 0.75rem;
  top: -10px;
  left: -10px;
  background: purple;
  font-weight: 700;
  color: #fff;
  padding: 0 0.5rem;
  border-radius: 50%;
  border: 1px solid #fff;
}
.comment .card .close {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  cursor: pointer;
}
.comment .card .close:focus {
  outline: none;
}
.comment .card.reverse {
  background: #424242;
  color: #fff;
}
.comment .feedback-stats {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.comment .input-group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment .input-group input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #9e9d9e;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: #242424;
  background: #fff;
  transition: all 0.3s ease-in-out;
}
.comment .input-group input:focus {
  border: 1px solid #262b29;
}
.comment .input-group button {
  position: absolute;
  right: 0.2rem;
  padding: 0.5rem;
  border: none;
  background: #575656;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.comment .input-group button:hover {
  background: #181620;
  color: #fff;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.rating li {
  height: 25px;
  width: 25px;
  background: rgba(206, 206, 206, 0.6862745098);
  color: #000000;
  padding: 0.5rem;
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating li:hover {
  background: purple;
  color: #fff;
}
.rating li input[type=radio] {
  display: none;
}
.rating li label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
}/*# sourceMappingURL=index.css.map */